.cart-page{
    display:flex;
    gap:20px;
    padding:20px;
    background:#eaeded;
    align-items:flex-start;
    color: black;
}

.cart-left{
    flex:3;
    background:#fff;
    padding:20px;
}

.cart-title{
    display:flex;
    justify-content:space-between;
    border-bottom:1px solid #ddd;
    padding-bottom:10px;
}

.cart-title h1{
    font-size:28px;
    font-weight:500;
}

.cart-title p{
    align-self:flex-end;
    color:#565959;
}

.cart-item{
    display:flex;
    gap:20px;
    padding:20px 0;
    border-bottom:1px solid #ddd;
}

.cart-item img{
    width:180px;
    height:180px;
    object-fit:contain;
}

.item-details{
    flex:1;
}

.item-details h2{
    font-size:20px;
    font-weight:500;
    margin-bottom:10px;
}

.stock{
    color:#007600;
    margin-bottom:5px;
}

.shipping{
    font-size:14px;
    color:#565959;
    margin-bottom:15px;
}

.cart-actions{
    display:flex;
    gap:15px;
    align-items:center;
    flex-wrap:wrap;
}

.cart-actions select{
    padding:5px 10px;
    border-radius:20px;
    border:1px solid #ccc;
    background:#f0f2f2;
}

.cart-actions span{
    color:#007185;
    cursor:pointer;
    font-size:14px;
}

.price{
    font-size:20px;
    font-weight:700;
}

.subtotal{
    padding-top:20px;
    text-align:right;
}

.subtotal span{
    font-weight:700;
}

.cart-right{
    flex:1;
    background:#fff;
    padding:20px;
}

.cart-right h2{
    font-size:20px;
    margin-bottom:20px;
}

.cart-right span{
    font-weight:700;
}

.cart-right button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:25px;
    background:#ffd814;
    cursor:pointer;
    font-size:16px;
}

@media(max-width:900px){

    .cart-page{
        flex-direction:column;
    }

    .cart-item{
        flex-direction:column;
    }

    .cart-item img{
        width:100%;
        height:auto;
    }

}